body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #add8e6;
    color: white;
    padding: 20px 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav a:hover, nav a:focus {
    background-color: #c7e2ee; /* A lighter shade of blue on hover/focus */
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

.container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center the titles horizontally */
}

section {
    width: 80%; /* Adjust as needed */
    margin: 10px 0; /* Space between sections */
    padding: 20px;
    border: 1px solid #ccc; /* Optional	: for visual separation */
}

.title {
    text-align: center;
}

@media (max-width: 600px) {
    section {
        width: 95%; /* Adjust for smaller screens */
    }
}